{% extends 'Mail/layout.mjml.twig' %}

{% block preview %}
  Code de validation Tyllt
{% endblock %}

{% block logo %}
  <mj-image src="{{ dns }}{{ asset('svg/tyllt_logo.svg') }}" alt="" align="center" width="150px" />
{% endblock %}

{% block body %}
  <mj-column width="100%" padding-top="25px" padding-bottom="25px">
    <mj-text color="#212b35" font-weight="bold" font-size="16px" align="center">
      Code de validation Tyllt
    </mj-text>
    <mj-text color="#212b35" font-size="14px" align="center">
      Bonjour et bienvenue sur Tyllt,
    </mj-text>
    <mj-text color="#212b35" font-size="14px" align="center">
      Afin de terminer la création de votre compte, veuillez utiliser le code ci-dessous pour valider votre inscription.
    </mj-text>
    <mj-text color="#1579DB" font-size="20px" font-weight="600" letter-spacing="3" align="center" padding="0 100px 0 100px">
      {{ code }}
    </mj-text>
  </mj-column>
{% endblock %}
