<mjml>
    <mj-head>
        <mj-title>Tyllt</mj-title>
        <mj-preview>
            {% block preview %}{% endblock %}
        </mj-preview>
        <mj-attributes>
            <mj-all font-family="'Open Sans', Helvetica, Arial, sans-serif"></mj-all>
            <mj-text font-weight="400" font-size="16px" color="#000000" line-height="24px"
                     font-family="'Open Sans', Helvetica, Arial, sans-serif"></mj-text>
        </mj-attributes>
        <mj-style inline="inline">
            .body-section {
                -webkit-box-shadow: 1px 4px 11px 0px rgba(0, 0, 0, 0.15);
                -moz-box-shadow: 1px 4px 11px 0px rgba(0, 0, 0, 0.15);
                box-shadow: 1px 4px 11px 0px rgba(0, 0, 0, 0.15);
            }
        </mj-style>
        <mj-style inline="inline">
            .text-link {
                color: #5e6ebf
            }
        </mj-style>
        <mj-style inline="inline">
            .footer-link {
                color: #888888
            }
        </mj-style>
        <mj-style inline="inline">
            .image {
                background-color: #ffffff;
                width: 70px;
                height: 70px;
                border-radius: 35px;
                margin-top: 15px;
            }
        </mj-style>
        <mj-style inline="inline">
            .imageBorder {
                background-color: rgba(255, 255, 255, .25);
                width: 100px;
                height: 100px;
                border-radius: 55px
            }
        </mj-style>
        <mj-style inline="inline">
            .topBox {
                background-color: #ffffff;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                margin-top: 50px;
            }
        </mj-style>
        <mj-style inline="inline">
            .circle {
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                overflow: hidden;
            }
        </mj-style>
        <mj-style inline="inline">
            .logo {
                height: 40px;
                margin: 30px 0 0;
            }
        </mj-style>
    </mj-head>
    <mj-body background-color="#F2F2F2" width="600px">
        <mj-wrapper padding-top="0" padding-bottom="0">
            <mj-section background-color="#f2f2f2"></mj-section>
            <mj-section>
                <mj-column>
                    {% block logo %}{% endblock %}
                </mj-column>
            </mj-section>
            <mj-section background-color="#ffffff" border-radius="20px">
                {% block body %}{% endblock %}

                <mj-column width="100%">
                    <mj-text color="#212b35" font-size="12px" align="left" line-height="1.2">
                        Une question ? <br />
                        <a href="mailto:contact@tyllt.com" style="color: #000;">Notre équipe est là pour vous aider</a>
                    </mj-text>
                    <mj-text color="#212b35" font-size="12px" align="left" line-height="1.2">
                        A bientôt, <br /> L'équipe Tyllt
                    </mj-text>
                    {% block mention %}
                    {% endblock %}
                </mj-column>
            </mj-section>
        </mj-wrapper>
        <mj-wrapper full-width="full-width">
            <mj-section>
                <mj-column width="100%" padding="0">
                    <mj-text color="#445566" font-size="11px" align="center" line-height="16px">
                        &copy; Tyllt, Tous droits réservés.
                    </mj-text>
                </mj-column>
            </mj-section>
        </mj-wrapper>
    </mj-body>
</mjml>
