{% extends 'Mail/layout.mjml.twig' %}

{% block preview %}
  Réinitialiser votre mot de passe
{% endblock %}

{% block logo %}
  <mj-image src="{{ dns }}{{ asset('svg/tyllt_logo.svg') }}" alt="" align="center" width="150px" />
{% endblock %}

{% block body %}
  <mj-column width="100%" padding-top="25px" padding-bottom="25px">
    <mj-text color="#212b35" font-weight="bold" font-size="16px" align="center">
      Réinitialiser votre mot de passe
    </mj-text>
    <mj-text color="#212b35" font-size="14px" align="center">
      Bonjour,
    </mj-text>
    <mj-text color="#212b35" font-size="14px" align="center" padding="0 100px 0 100px">
      Vous pouvez réinitialiser votre mot de passe Tyllt en cliquant sur le bouton ci-dessous :
    </mj-text>
    <mj-button padding-top="25px" background-color="#1579DB" align="center" height="32px" color="#ffffff"
               border-radius="25px" font-size="14px" font-weight="bold" href="{{ url }}">
      Changer mon mot de passe
    </mj-button>
  </mj-column>
{% endblock %}
